/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=Shojumaru&display=swap');

/* main header */
#menu {
    list-style-type: none;
    line-height: 2rem;
    font-size: 21px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: sandybrown;
    
}


