/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=Shojumaru&display=swap');

/* Global Styles */

:root {
    --primary-font: "Happy Monkey", sans-serif;
    --secondary-font: "Shojumaru", sans-serif;
    --primary-color: sandybrown;
    --secondary-color: #186600;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: var(--primary-color);
    font: var(--primary-font);
}

#logo {
    width: 55px;
    height: 55px;
    margin-left: 8px;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background-color: var(--secondary-color)
}


/* Header */
header {
    background-color: var(--secondary-color)
    padding: 0.5rem 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

#menu {
    list-style-type: none;
    font-weight: bold;
    letter-spacing: 1px;
}

#menu>li {
    margin: 1rem;
    display: block;
    text-align: center;
}

.active {
    border-bottom: 2px solid var(--primary-color)
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    left: 0;
    padding: 5px;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        letter-spacing: 2px;
        padding-right: 1rem;
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    #menu {
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        letter-spacing: 2px;
        padding-right: 2rem;
        color: var(--primary-color);
        font-size: 2rem;
    }

    #logo {
        width: 75px;
        height: 75px;
        margin-left: 15px;
        padding: 5px;
        border: 3px solid var(--primary-color);
        border-radius: 50%;
    }
}