/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=Shojumaru&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* Global Styles */

:root {
    /* CSS HEX color palette*/
    --jaffa: #e88536;
    --mint-julep: #f4eec8;
    --brown-derby: #402d13;
    --paarl: #a6602a;
    --keppel: #3aaeaa;
    --pesto: #6a7936;
    --copper-canyon: #803416;
    --lemon-ginger: #afab2b;
    --casal: #2d5961;
    --eternity: #1c1f0c;
}

html {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation bar */

#logo {
    height: 50px;
    width: 50px;
    border: 2px solid #FF5F1F;
    background-position: center;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-left: 15px;
    
}

nav {
    height: 65px;
    width: 100%;
    background-color: #eabe75;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid #FF5F1F;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 100%;
    padding: 0 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF5F1F;
    font-family: "Shojumaru";
    font-size: 20px;
    letter-spacing: 1px;
}

nav a:hover {
    font-size: 23px;
}

.fa-solid {
    color: #FF5F1F;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.container {
    width: 100%;
    margin: auto;
}

.container img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 500px) {

    /* Sidebar Navigation bar styles*/
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        background-color: black;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding-right: 30px;
        justify-content: flex-start;
    }

    #logo {
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;

    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .container img {
        position: relative;
        height: 150px;
    }

    #home-icon {
        margin-right: auto;
        
    }
    
    
}
